.aside {
  /* padding-bottom: 15rem; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 35rem;
  /* background-color: peru; */
}

.sticky-aside {
  position: absolute;
  top: -82rem;
  align-self: stretch;
  transition: all 0.3s;
}

.aside-end-detector {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 59%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.padding--trend {
  padding: 1.8rem;
}

.trends {
  width: 100%;
  background-color: #17171f;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: flex-start; */
  /* gap: 1.2rem; */
}

.trend-container--outer {
  width: 100%;
  height: 8.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trend-container--inner:link,
.trend-container--inner:visited {
  width: 100%;
  height: 8.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0.4rem;
  align-items: start;
  transition: all 0.3s;
  padding: 0.4rem 1.8rem;
  text-decoration: none;
  color: #999;
}

.trend-container--inner:hover,
.trend-container--inner:active {
  background-color: #222;
}

.follows {
  height: auto;
}

.trend-country-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trend-country-box .post-more-icon-box {
  height: 3rem;
  width: 3rem;
}

.trend-country {
  font-size: 1.2rem;
}

.trend-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  transform: translateY(-50%);
}

.tweet-count {
  font-size: 1.2rem;
  transform: translateY(-50%);
}

.show-more-box--outer {
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more-box--inner:link,
.show-more-box--inner:visited {
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: all 0.3s;
  padding: 0.8rem 1.8rem;
  text-decoration: none;
}

.show-more-box--inner:active,
.show-more-box--inner:hover {
  background-color: #222;
}

.show-more {
  font-size: 1.6rem;
  color: #1d9bf0;
}

.follow-suggest--outer {
  width: 100%;
  height: 8.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-suggest--inner:link,
.follow-suggest--inner:visited {
  width: 100%;
  height: 8.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  padding: 0.4rem 1.8rem;
  text-decoration: none;
  color: #999;
}

.follow-suggest--inner:hover,
.follow-suggest--inner:active {
  background-color: #222;
}

.user--follow {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.follow-suggests {
  width: 100%;
  background-color: #17171f;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.3rem;
  color: #999;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  text-decoration: underline solid #999;
}

.copyright {
  font-size: 1.3rem;
  color: #999;
}
