.sticky-header--main {
  position: absolute;
  top: 0;
  height: 6rem;
  width: 59.8rem;
  z-index: 9999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.3s;
}

.sticky-header--aside {
  position: absolute;
  top: 0;
  height: 6rem;
  width: 40rem;
  z-index: 9999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.3s;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aside-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-header-img {
  display: none;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #17171f;
  border-radius: 100px;
  width: 100%;
  gap: 1.2rem;
}

.search-box--active {
  /* border: 1px solid #1da1f2; */
  box-shadow: inset 0 0 1px 1px #1da1f2;
}

#search {
  border: none;
  background-color: #17171f;
  padding: 1.2rem 8rem 1.2rem 0;
  color: #fff;
  font-size: 1.6rem;
  margin: 0.1rem 0;
}

#search::placeholder {
  font-family: "Open Sans", sans-serif;
}

.search-icon-box {
  justify-self: center;
}

.search-icon {
  stroke: #777;
  height: 2.2rem;
  width: 2.2rem;
  stroke-width: 1.5;
}

.search-box--active .search-icon {
  stroke: #1da1f2;
}
