.sticky-nav {
  position: absolute;
  top: 0;
}

.nav {
  /* padding: 0 6rem 0 4rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4.8rem;
  height: 100%;
  position: relative;
}

.logo {
  height: 3.6rem;
  width: 3.6rem;
  color: #fff;
}

.nav-list-link--active .nav-list-icon {
  stroke-width: 2.5;
}
.nav-list-link--active .nav-list-text {
  font-weight: 700;
  font-size: 2.2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 0.5rem;
}

.nav-list-item {
  display: flex;
  align-items: center;
}

.nav-list .nav-list-item:last-child {
  margin-top: 3.2rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.nav-list-item:hover .nav-list-link,
.nav-list-item:active .nav-list-link {
  background-color: rgb(51, 51, 51, 0.5);
}
/* .nav-list-link:hover,
.nav-list-link:active {
  background-color: rgb(51, 51, 51, 0.5);
} */

.nav-logo:hover,
.nav-logo:active {
  background: none;
}

.nav-list-icon {
  height: 3rem;
  width: 3rem;
  color: #fff;
  stroke-width: 1.5;
}

.nav-list-text {
  font-size: 2rem;
  color: #fff;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  /* margin-right: 0.8rem; */
  border-radius: 100px;
  text-decoration: none;
  color: #999;
  transition: all 0.3s;
  cursor: pointer;
}

.profile-details:hover {
  background-color: #222;
}

.profile-details svg {
  height: 2rem;
  width: 2rem;
  color: #fff;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-right: 8rem;
}

.profile-details-photo {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 1px solid #000;
}

.name {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.username {
  font-size: 1.4rem;
}
