/*
------ 01 Typo system

FONT SIZE (px)
10 / 12 / 14 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHT
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

LINE HEIGHT
Default: 1
Small: 1.05
Medium: 1.2
Paragragh default: 1.6
large: 1.8


--------- 02 Colors

PRIMARY: #000
TINTS:
SHADES:
ACCENTS: #1a8cd8  #1d9bf0
GRAYS: #555  #333  #ccc 
#6f6f6f
#767676


------- 03 Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
0 2.4rem 4.8rem rgba(0, 0, 0, 0.06);


------- 04 Border Radius
Default: 9px
Medium: 11px

------- 05 White Space (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

------ 06 Letter spacing
-1px
1px

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  /* Meaning that 1 rem = 10px */
  /* font-size: 10px; */
  /* font-size: 62.5%; */
  font-size: 60%;
  /* 10 / 16 * 100 */
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #000;
  /* transition: all 5s; */
}

/* containers */

.container {
  max-width: 130rem;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 100rem;
  align-items: start;
  justify-items: center;
}

.container--nav {
  width: 100%;
  height: 100%;
  background-color: pink;
  background-color: #000;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-right: 1px solid #222;
  z-index: 10000;
}

.inner-container--nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: purple;
  background-color: #000;
}

.container--body {
  width: 100%;
  background-color: blue;
  background-color: #000;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  /* justify-items: start; */
}

.container--main {
  width: 100%;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

.container--main-header {
  width: 100%;
  height: 7rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  /* background-color: purple; */
}

.inner-container--main-header {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* padding-right: 33.9vw; */
}

.container--aside {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* position: relative; */
}

.container--aside-header {
  width: 100%;
  height: 7rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: peru; */
}

.inner-container--aside-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 1.6vw;
  /* padding: 0 1.2vw; */
}

.inner-container--aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /* background-color: purple; */
  padding: 0 1.6vw;
  width: 100%;
  height: 100%;
}

.padding--md {
  padding: 0 1.8rem;
}

.padding--lg {
  padding: 0 3rem;
}

.heading--primary {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.heading--secondary {
  font-size: 1.8rem;
  font-weight: 800;
  margin-right: auto;
  color: #fff;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  border-radius: 100px;
  background-color: #1d9bf0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #1a8cd8;
}

.btn--lg:link,
.btn--lg:visited {
  justify-self: start;
  padding: 1.6rem 9rem;
}

.btn--sm:link,
.btn--sm:visited {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: #0f4e78;
  color: #bbb;
}

.img {
  background-color: #fff;
}

.hidden {
  display: none;
}

.btn--follow {
  text-decoration: none;
  border-radius: 100px;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
}

.btn--follow:hover {
  background-color: #ddd;
}

.pencil-icon {
  width: 3.2rem;
  height: 3.2rem;
  stroke-width: 1;
  fill: #fff;
  stroke: #1d9bf0;
}

.btn--rd-outer {
  display: none;
}

.btn--rd:link,
.btn--rd:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  width: 6.4rem;
  background-color: #1d9bf0;
  border-radius: 50%;
  transition: all 0.3s;
}

.btn--rd:hover,
.btn--rd:active {
  background-color: #1a8cd8;
}

.nav-list .nav-list-search {
  display: none;
}

.sticky-icons {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 6rem;
  border-top: 1px solid #222;
}

.sticky-icon-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background-color: #000;
  padding-bottom: 0.6rem;
}

.sticky-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #fff;
  stroke-width: 1.5;
}

.sticky-icon-link:link,
.sticky-icon-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.sticky-icon-link:hover,
.sticky-icon-link:active {
  background-color: #333;
}

.sticky-icon--active .sticky-icon {
  stroke-width: 2;
  width: 3rem;
  height: 3rem;
}
